.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-box {background-color: white;
  color: black;
  height: 8rem;
  width: 8rem;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 2px dotted rgb(69, 37, 177);
}
  .add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px !important;
    /* justify-content: space-around; */
    width: 400px;
    margin: 0 auto;
 
  }


  
  .board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: min-content;

  }

.board>.game-box:nth-child(1){
  border-left: none;
  border-top: none;
}
.board>.game-box:nth-child(2){

  border-top: none;
}
.board>.game-box:nth-child(3){
  border-right: none;
  border-top: none;
}
.board>.game-box:nth-child(4){
  border-left: none;
  
}
.board>.game-box:nth-child(6){
  border-right: none;
  
}

.board>.game-box:nth-child(7){
  border-left: none;
  border-bottom: none;
}
.board>.game-box:nth-child(8){
  border-bottom: none;
  
}
.board>.game-box:nth-child(9){
  border-right: none;
  border-bottom: none;
}